@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/balsamiq.woff2) format('woff2');
}
::selection {
  background: #182bff;
  color: white;
}
.github-corner:hover .octo-arm {
  animation: wave 1s ease infinite;
}
@keyframes wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1) rotateZ(0);
  }
  25%, 75% {
    transform: scale(1.5) rotateZ(15deg);
  }
  50% {
    transform: scale(1.25) rotateZ(15deg);
  }
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Comic Sans MS', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #face64;
  font-size: 24px;
}
main {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 64px;
}
h1 {
  cursor: pointer;
  transition: transform 0.1s ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
h1:active {
  transform: scale(0.9);
}
h1, h2 {
  margin: 32px;
  text-align: center;
}
div {
  line-height: 0;
  position: relative;
  width: 50%;
  z-index: 2;
}
textarea {
  border: 0;
  font-size: 32px;
  margin: 0;
  min-height: 50vh;
  padding: 16px;
  padding-bottom: 40px;
  resize: none;
  width: 100%;
}
textarea[readonly] {
  background: #f5f5f5;
  outline: none;
}
div:first-of-type {
  z-index: 3;
}
div:first-of-type textarea {
  border-radius: 16px 0 0 16px;
}
div:last-of-type textarea {
  border-radius: 0 16px 16px 0;
}
button {
  background: #182bff;
  border: 0;
  border-radius: 24px;
  bottom: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  position: absolute;
  right: 8px;
  transition: transform 0.2s ease;
}
button:hover {
  transform: translateY(-2px);
}
button:active {
  transform: translateY(1px);
}
footer {
  font-size: 16px;
  text-align: center;
  position: fixed;
  bottom: 32px;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer a span {
  display: inline-block;
  margin: 0 4px;
}
footer a:hover span {
  animation: heartbeat 1.2s ease infinite;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
    margin: 24px;
  }
  main {
    flex-direction: column !important;
    margin: 32px 16px;
  }
  div {
    width: 100%;
  }
  div:first-of-type textarea {
    border-radius: 16px 16px 0 0;
  }
  div:last-of-type textarea {
    border-radius: 0 0 16px 16px;
  }
  textarea {
    font-size: 24px;
    min-height: 25vh;
  }
}